<h1>Notes</h1>
<% @notes.each do |n| %> 
  <h3>Author: <%= n.author %></h3> 
  <p>Date: <%= n.date %></p>
  <p>Note: <%= truncate(n.body, :length => 15) %></p>
  <%= link_to 'Read Note', n %>
  <br>
<% end %> 